<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Book BookBuffet</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div id="main">
		<img class="d-block w-100" src="/assets/bg-slider.png" alt="First slide">				    
	</div>
        <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">Where your imagination comes alive</h1>
                    <p class="lead fw-normal text-black-50 mb-0">Our bookstore will fill your bookshelves with tons of new stories to read. 📚📚📚</p>
                </div>
        </div>
        <br>
        <br>
        <div class="card text-center">
            <h2 class="card-title">
                <u>Our Philosophy....</u>.
            </h2>
                <h4 class="card-body">"The power to be found between the pages of a book is formidable, indeed."<br>
                Some people like to read on a screen. Other people need the variety and artistry, the sight, smell, and feel of actual books.They love seeing them on their shelves; they love having shelves for them.
                <br>They love taking them along when they leave the house, and stacking them by their bedsides. They love finding old letters and bookmarks in them. They like remembering where they bought them or who they received them from.
                <br>They want to read in a way that offers a rich experience, more than the words only: the full offering of a book. They are particular about covers, they want to surround themselves with the poetry of good design.
                <br>They can't pass a bookstore without going in and getting something, they keep a library card and use it.
                <br>They are allergic to cheap bestsellers; they delight in the out-of-the-way and the rare, the well-made and the hard-to-accomplish. They take care of their books; they  know a book is only theirs until it passes on to someone else. They are good stewards of a timeless object.
                </h4>
                <br>
                <br>
                <h2 class="card-title">
                Click Explore button to view and buy our products
                </h2>
	    <div>
               <a href="/gallery/index" class="btn btn-secondary",style="display:inline;color:white">Explore</a>
             </div>
        </div>
        <div class="card-footer text-muted">
        </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>

